




#cabecera{
margin-top:30px;
border-color:purple;
border-style: groove;
border-width: 2px;
width:80%;
height: 100px;
margin-left:auto;
margin-right:auto;
background-color:lightblue;
border-radius:25px;
}
#cabecera img{
width:60px;
height: 60px;
margin-top:20px

}

.img1{
float:left;

}

.text{
float:right;
width:350px;
margin-top:20px

}

.text h2{
color:purple
}

.img2{
float:left;
}

#menu

{
width:auto;
margin-left: auto;
margin-right: auto;

}

#menu ul{


}

#menu li{
margin-left:5px;
display:inline;
background:yellow;
font-size:3em;
border-width:2px;
border-style:solid;
border-color:blue ;
border-radius:10px;

}


#menu li:hover{

background:red;


}









#pie{

border-top-color:black;
border-style: groove;
border-width: 5px;
width:80%;
height: 50px;
margin-left:auto;
margin-right:auto;
background-color:grey;
color :white;
text-align:right;
}

@media olny screen and (min-width:320px) and (max-width:480px)/* and (orientation: portrait)*/
{
	div #cabecera {display:none;}
	/*div#menu li {display:list-item; }*/
	div #pie {display:none;}
}

/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation :landscape)

{

#cabecera {display:none;}
	

	
	#menu {width:200px;}
	#menu li {display:list-item; }
	#pie {display:none;}
*/



}




